<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Mount Netsai">
    <link rel="icon" href="../../favicon.ico">

    <title>Home -  Mount Netsai Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/navbar-static-top.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
    <link href="dist/css/font-awesome.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--notification-->
<!--    <div class="notifications">
       We are currently enrolling! find out more

    </div>-->

    <!-- /end notification-->
  <!-- Static navbar -->
  <div class="top-liner"></div>
   <nav class="navbar navbar-default " role="navigation">
      <div class="navbar-header navbar-header-center">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
<!--        <a class="navbar-brand" href="#">Brand</a>-->
            <img src="dist/img/logo-horizontal.png" alt="Mount Netsai Logo" />

      </div>
      <div class="clearfix"></div>
      <div class="navbar-collapse collapse navbar-items">
        <ul class="nav navbar-nav navbar-center">
           <li><a href="#">Home</a></li>
           <li><a href="#about">Contact Us</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact"><i class="fa fa-phone fa-lg"></i> 0955 536960</a></li>
        </ul>
      </div>
    </nav>
    <!--/.nav-collapse -->



<!--    <div class="container">

      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
style="background-color:#000;"
    </div>-->
    <div id="landingContainer" class="container-fluid" >
    <div class="no-padding col-lg-12  col-md-12 col-sm-12 col-xs-12" >
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div id="firstSlide" class="item active">
                    <img src="dist/img/bg-slide-one.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                         <div class="text-spacer-top-50">
                            
                            <h2>Welcome to Mount Netsai Academy</h2>   
                            
                            </div>            
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div id="secondSlide" class="item">
                    <img src="dist/img/bg-slide-two.jpg" alt="Second slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <div class="text-spacer-top-50">
                            <h2>
                                A unique school for your children
                            </h2>
                            <p>We pride ourselves in providing the best educational experience for your children</p>
                            <div>
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
    <!--        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>-->
        </div><!-- /carousel -->
    </div>
   </div>
    </div>
    </div>
     <!-- /container -->
   <!-- about school-->
   <div class="about">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <h2 class="header-space" id="#contact-us">Our  Academy</h2>
                <p>Mount Netsai is a unique, create academy for children from baby class, middle and reception</p>
            </div>
            <div class="col-lg-12">
                   <div class="col-md-6 text-center class-explainer">
                        <h3> We Offer the following:</h3>
                       <ul class="list-unstyled">
                           <li>&middot; Baby Class</li>
                           <li>&middot; Reception</li>
                           <li>&middot; MIddle Class</li>
                       </ul>
                    </div>
                    <div class="col-md-6 text-center why-banner">
                      <h3> Why choose us? </h3>
                       <ul class="list-unstyled">
                           <li>&middot; Excellent Security</li>
                           <li>&middot; Separate Classrooms for Each Level</li>
                           <li>&middot; Program for School age children</li>
                           <li>&middot; Lots of love and fun</li>
                       </ul>
                    </div>
            </div>
            </div>
        </div>
    </div>

   <!-- about school-->

    <!--contact us-->
    <div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align:center;">
                <h2 class="header-space" id="#contact-us">Get in touch with Us</h2>
                <p>Leave us a message below or email us at <a href="mailto:mountnetsaiacademy@gmail.com">mountnetsaiacademy@gmail.com</a></p>
            </div>
            <div class="col-lg-12">
                <form id="contact-form" class="single-form">

                    <div class="message col-xs-12">

                    </div>

                    <div class="col-sm-6">
                        <input name="name" ng-model="email.name" class="contact-name form-control" type="text" placeholder="Name" required="">
                    </div>

                    <div class="col-sm-6">
                        <input name="name" ng-model="email.emailAddress" class="contact-email form-control" type="email" placeholder="Email" required="">
                    </div>

                    <div class="col-sm-12">
                        <input name="name" ng-model="email.subject" class="contact-subject form-control" type="text" placeholder="Subject" required="">
                    </div>

                    <div class="col-sm-12">
                        <textarea ng-model="email.body" class="contact-message form-control" rows="3" placeholder="Message" required=""></textarea>
                    </div>
                    <div class="btn-form text-center col-xs-12" style="margin-bottom:15px;">
               <!--         <div
                        vc-recaptcha
                        theme="'light'"
                        key="model.key"
                        on-create="setWidgetId(widgetId)"
                        on-success="setResponse(response)"
                        style="margin-bottom:15px;">    
                        </div>-->
                        <button class="btn btn-default">Send Message</button>

                    </div>
                </form>
                </div>
            </div>
        </div>
        </div>

    <!--end  contact us-->
    <!-- footer-->
    <footer>
        <div class="">
        <div class="container footer ">
            <div class="row">
                <div class="col-lg-12">

                    <div class="col-md-3">
                        <p><span class="footer-title">ABOUT</span></p>
                  <!--      <p><a href="#">Profile</a></p>-->
                         <p><a href="#services">Make an Enquiry</a></p>
                         <p><a href="#">Find us on Facebook</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="footer-title">SCHOOL HOURS</span></p>
                        <p>Mon- Fri: 08:00 - 17:00 hrs</p>
                        <p>Sat-Sun: closed</p>
                    </div>
                    <div class="col-md-3">
                        <p><span class="footer-title">LOCATION</span></p>
                        <p>Plot 16361 Off Nationalist road, Kamwala South Lusaka, Zambia</p>
                 <!--       <p><a href="#">View on Map</a></p>-->
                    </div>
                    <div class="col-md-3">
                        <p>&copy; 2017 Mount Netsai. All rights reserved.<p>
                        <p>Design by <a href="http://mutalecharles.com">@charliefrom84th</a></p>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </footer>
    <!--end footer-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            $('#carousel-example-generic').on('slide.bs.carousel', function(e) {
            if(e.relatedTarget.id == 'firstSlide'){
                console.log("switch");
                $("#landingContainer").css('background-image', 'url(dist/img/bg-slide-one-overlay.jpg)');
            } else if(e.relatedTarget.id == 'secondSlide'){
                console.log("switch");
                $("#landingContainer").css('background-image', 'url(dist/img/bg-slide-two-overlay.jpg');
            }
            })
        
        });
   </script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
